*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.about{
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}
.about h1{
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.about h1::after{
    content: "";
    height: 5px;
    width: 200px;
    background-color: #636e72;
    display: flex;
    margin: auto;
}
.row{
    width: 100%;
    padding: 50px 100px;
}
.image-section{
    width: 30%;
    float: left;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.content h1{
    font-size: 90px;
    letter-spacing: 3.5px;
    margin-top: 25px;
    color: #222;
}
.content h2{
    font-size: 28px;
    font-family: sans-serif;
    color: #e84393;
    margin-top: 25px;
}
.content p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 10px;
    line-height: 1.5;
}

.OurServices{
    padding: 50px 60px;
}
.OurServices h1{
    text-align: center;
    text-transform: uppercase;
}
.OurServices h1::after{
    content: "";
    width: 210px;
    height: 5px;
    background-color: #636e72;
    display: flex;
    margin: auto;
}
.cards-section{
    text-align: center;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.cards-section>div{
    padding: 30px 10px;
    background-color: #74b9ff;
    cursor: pointer;
}
.cards-section>div:hover{
    background-color: #8c8c8c;
    transition: 0.2s ease;
}
.cards-section i{
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #e84393;
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}
.cards-section i:hover{
    background-color: #74b9ff;
    transition: 0.5s ease;
}
.cards-section h2{
    font-family: sans-serif;
    font-weight: bold;
    color:#e84393;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.cards-section p{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1.5;
}

@media screen and (max-width:768px){
    .image-section{
        width: 100%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0;
    }
    .content h1{
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    .content h2{
        font-size: 30px;
    }
    .content p{
        font-size: 18px;
    }
    .cards-section{
        grid-template-columns: repeat(1, 1fr);
    }
}